<template>
  <div>
    <Header :isDefaultPage="true" />
    <nuxt />
  </div>
</template>

<script>
import Header from '~/components/Header'
export default {
  components: {
    Header
  }
}
</script>
<style lang="scss">
$primaryOrange: #f89866;
$primaryWhite: #eaeaea;
$secondaryGray: rgb(139, 149, 158);
$primaryDark: #242021;

body {
  background-color: #eaeaea !important;
}
.uppercase {
  text-transform: uppercase;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-light {
  background-color: $primaryWhite;
}
.bg-dark {
  background-color: $primaryDark;
}
.bg-orange {
  background-color: $primaryOrange;
}
.color-light {
  color: $primaryWhite;
}
.color-dark {
  color: $primaryDark;
}
.color-orange {
  color: $primaryOrange;
}
.products_layout_wrapper {
  .ul_sub_menu ul {
    background-color: $primaryDark !important;
    color: $primaryWhite;
  }
  .ant-menu-submenu-title {
    font-weight: bold !important;
  }
  .ant-menu-submenu-title:hover {
    color: $primaryOrange !important;
  }

  .ant-menu-item-selected,
  .ant-menu-item-active {
    color: $primaryDark !important;
    background-color: $primaryOrange !important;
    font-weight: bold;
  }
  .ant-menu-submenu-inline
    .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow::before {
    background: linear-gradient(
      to right,
      $primaryOrange,
      $primaryOrange
    ) !important;
  }
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: $primaryOrange !important;
  }
  .ant-input-search {
    width: 90% !important;
    display: block;
    margin: 3em auto 2em auto;
    .ant-input {
      background-color: $primaryWhite !important;
      color: $primaryDark;
      &::placeholder {
        color: $secondaryGray;
        font-weight: bold;
      }
    }
    svg {
      color: $secondaryGray;
      font-size: 1.2em;
    }
  }

  .ant-slider-rail {
    background-color: $primaryWhite important;
  }
  .ant-slider-track-1 {
    background-color: $primaryOrange !important;
  }
  .ant-slider-handle {
    background-color: $primaryDark;
    border-color: $primaryOrange !important;
    &:focus {
      box-shadow: none !important;
    }
  }
  .tags-filter ul {
    margin: 1em auto;
    display: block;
    text-align: center;

    .ant-tag-checkable {
      font-size: 0.9em;
      color: #eaeaea;
      border: 1px solid $primaryWhite;
      margin: 0.4em;
    }

    .ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
      color: $primaryWhite;
    }

    .ant-tag-checkable-checked {
      background-color: $primaryOrange;
      border-color: $primaryOrange;
      color: $primaryDark;
      font-weight: bold;
    }
  }
  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    font-size: 22px !important;
  }
}
</style>
