<template>
  <div>
    <Hero />
    <Header :isDefaultPage="true" />
    <nuxt />
  </div>
</template>

<script>
import Header from '~/components/Header'
import Hero from '~/components/Hero'
export default {
  components: {
    Hero,
    Header
  }
}
</script>
