<template>
  <div>
    <Header :isDefaultPage="true" />
    <div class="products_layout_wrapper">
      <a-layout style="margin-top:64px; background: transparent">
        <a-layout-content><nuxt /></a-layout-content>
        <a-button
          @click="toggleCollapsed"
          s
          type="primary"
          class="toggler_sider"
        >
          <a-icon :type="collapsed ? 'menu-fold' : 'menu-unfold'" />
        </a-button>
        <a-layout-sider
          :style="{
            overflow: 'auto',
            height: '100vh',
            backgroundColor: '#24201A'
          }"
          v-bind:class="{ collapsed_sider: collapsed }"
          width="300"
          class="sider_products bg-dark"
        >
          <a-button
            v-if="!collapsed"
            @click="toggleCollapsed"
            type="primary"
            class="toggler_sider"
          >
            <a-icon :type="collapsed ? 'menu-fold' : 'menu-unfold'" />
          </a-button>
          <a-input-search
            v-model.lazy="searchText"
            placeholder="Tapez des mots clés"
            style="width: 200px"
          />
          <a-menu
            :style="{ height: '100%', borderRight: 0, color: '#eaeaea' }"
            :defaultOpenKeys="['sub1']"
            :multiple="true"
            mode="inline"
          >
            <a-sub-menu key="sub1" class="ul_sub_menu tags-filter">
              <span slot="title"
                ><a-icon type="global" />Filter by country</span
              >
              <a-checkable-tag
                v-for="countries in getAllCountries()"
                v-bind:class="{
                  'ant-tag-checkable-checked': handleTagUi(
                    'countryFilter',
                    countries.id
                  )
                }"
                @change="toggleCountry(countries.id)"
                >{{ countries.country }}</a-checkable-tag
              >
            </a-sub-menu>
            <a-sub-menu key="sub2" class="ul_sub_menu padding-slider">
              <span slot="title"><a-icon type="dollar" />Filter by price</span>
              <a-slider
                :min="0"
                :max="getMaxPrice()"
                :defaultValue="filters.priceRange"
                @afterChange="setPriceRange"
                :tipFormatter="priceTipFormater"
                range
              />
            </a-sub-menu>
            <a-sub-menu key="sub2" class="ul_sub_menu tags-filter">
              <span slot="title"
                ><a-icon type="pushpin" />Filter by categories</span
              >
              <a-checkable-tag
                v-for="categories in getAllCategories()"
                v-bind:class="{
                  'ant-tag-checkable-checked': handleTagUi(
                    'categoryFilter',
                    categories.id
                  )
                }"
                @change="toggleCategory(categories.id)"
                >{{ categories.name }} dough</a-checkable-tag
              >
            </a-sub-menu>
            <a-sub-menu key="sub3" class="ul_sub_menu padding-slider">
              <span slot="title"
                ><a-icon type="number" />Filter by quantity</span
              >
              <a-slider
                :min="1"
                :max="300"
                @afterChange="setMinQty"
                :tipFormatter="qtyTipFormater"
              />
            </a-sub-menu>
            <a-sub-menu key="sub4" class="ul_sub_menu padding-slider">
              <span slot="title"><a-icon type="number" />Filter by weight</span>
              <a-slider
                :min="10"
                :max="1500"
                @afterChange="setMinWeight"
                :tipFormatter="weightTipFormater"
              />
            </a-sub-menu>
            <a-sub-menu key="sub5" class="ul_sub_menu tags-filter">
              <span slot="title"><a-icon type="filter" />Filter by smell</span>
              <a-checkable-tag
                v-for="odors in getAllOdors()"
                v-bind:class="{
                  'ant-tag-checkable-checked': handleTagUi(
                    'odorFilter',
                    odors.id
                  )
                }"
                @change="toggleOdor(odors.id)"
                >{{ odors.name }}</a-checkable-tag
              >
            </a-sub-menu>
            <a-sub-menu key="sub6" class="ul_sub_menu tags-filter">
              <span slot="title"
                ><a-icon type="filter" />Filter by animal origin</span
              >
              <a-checkable-tag
                v-for="animals in getAllAnimals()"
                v-bind:class="{
                  'ant-tag-checkable-checked': handleTagUi(
                    'animalFilter',
                    animals.id
                  )
                }"
                @change="toggleAnimalOrigin(animals.id)"
                >{{ animals.animal }}</a-checkable-tag
              >
            </a-sub-menu>
          </a-menu>
        </a-layout-sider>
      </a-layout>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Header from '~/components/Header'
export default {
  name: 'ListProducts',
  components: {
    Header
  },
  data() {
    return {
      collapsed: true,
      searchBox: ''
    }
  },
  computed: {
    searchText: {
      // getter
      get() {
        return this.$store.state.productsFilter.searchText
      },
      // setter
      set(newValue) {
        this.$store.dispatch('productsFilter/setSearchText', newValue)
      }
    },
    filters() {
      return this.$store.state.productsFilter
    },
    ...mapGetters('products', ['getMaxPrice']),
    ...mapGetters('availableTypes', [
      'getAllOdors',
      'getAllCategories',
      'getAllCountries',
      'getAllAnimals'
    ])
  },
  mounted() {
    this.SET_ALL_FILTERS()
  },
  methods: {
    ...mapActions('productsFilter', [
      'setSearchText',
      'toggleCountry',
      'setPriceRange',
      'toggleCategory',
      'setMinQty',
      'setMinWeight',
      'toggleOdor',
      'toggleAnimalOrigin',
      'SET_COUNTRIES_FILTER',
      'SET_CATEGORIES_FILTER',
      'SET_ANIMALS_FILTER',
      'SET_ODORS_FILTER',
      'SET_ALL_FILTERS'
    ]),
    handleTagUi(filter, property) {
      if (this.filters[filter].includes(property)) {
        return 'ant-tag-checkable-checked'
      }
    },
    priceTipFormater(value) {
      return `${value} CHF`
    },
    qtyTipFormater(value) {
      return `Minimum : ${value} pièces`
    },
    weightTipFormater(value) {
      return `Minimum : ${value} grammes`
    },
    toggleCollapsed() {
      this.collapsed = !this.collapsed
    }
  }
}
</script>
<style scoped lang="scss">
$primaryOrange: #f89866;
$primaryWhite: #eaeaea;
$primaryDark: #242021;
ul {
  background-color: $primaryDark !important;
}
.ant-slider {
  margin: 1rem 2rem !important;
}
.toggler_sider {
  position: fixed;
  top: 1em;
  right: 2em;
  background-color: #f89866 !important;
  border-color: #f89866 !important;
  color: #242021 !important;
  z-index: 1000;
}
.sider_products {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  transition: all 0.4s ease-in-out;
}

.sider_products.collapsed_sider {
  width: 0px !important;
  min-width: 0px !important;
  flex: 0 0 0px !important;
}

.ant-menu {
  background-color: $primaryDark !important;
}
.ant-menu-item-active {
  color: $primaryOrange;
}

.ant-input-affix-wrapper {
  margin-top: 7em;
  &:focus {
    border-color: $primaryOrange !important;
  }
}
</style>
