<template>
  <div>
    <a-form @submit="handleSubmit" layout="vertical">
      <a-form-item :label="arrayName === 'animals' ? 'Animal' : 'Name'">
        <a-input v-model="inputData" placeholder="Enter a value" />
      </a-form-item>
      <a-form-item style="text-align: center">
        <a-button type="primary" html-type="submit">
          Submit
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  name: 'FormAddType',
  props: {
    arrayName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      inputData: ''
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      this.$emit('onSubmit', this.inputData, this.arrayName)
    }
  }
}
</script>

<style scoped></style>
