<template>
  <div>
    <a-form @submit="handleSubmit" layout="vertical">
      <a-form-item label="Country">
        <a-input v-model="country" placeholder="Enter a value for country" />
      </a-form-item>
      <a-form-item label="City">
        <a-input v-model="city" placeholder="Enter a value for city" />
      </a-form-item>
      <a-form-item label="Appellation">
        <a-input
          v-model="appellation"
          placeholder="Enter a value for appellation"
        />
      </a-form-item>
      <a-form-item style="text-align: center">
        <a-button type="primary" html-type="submit">
          Submit
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  name: 'FormAddCountry',
  props: {
    arrayName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      country: '',
      city: '',
      appellation: ''
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      this.$emit(
        'onSubmit',
        {
          country: this.country,
          city: this.city,
          appellation: this.appellation
        },
        this.arrayName
      )
    }
  }
}
</script>

<style scoped></style>
