<template>
  <div class="wrapper_card_preview">
    <a-card hoverable>
      <img slot="cover" :src="imageUrl" />
      <a-card-meta :title="name" :description="description"></a-card-meta>
      <div class="card-preview-actions flex">
        <p>Prix : {{ price }} CHF</p>
        <nuxt-link :to="productLink">
          <a-button>Détails</a-button>
        </nuxt-link>
      </div>
    </a-card>
  </div>
</template>
<script>
export default {
  name: 'ProductPreview',
  props: {
    id: {
      type: Number,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    price: {
      type: Number,
      required: true
    },
    category: {
      type: String,
      required: false
    },
    description: {
      type: String,
      required: true
    },
    imageUrl: {
      type: String,
      required: true
    }
  },
  computed: {
    productLink() {
      return this.isAdmin ? '/admin/' + this.id : '/products/' + this.id
    }
  }
}
</script>

<style scoped lang="scss">
.wrapper_card_preview {
  margin: 2em auto;
  &:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
.card-preview-actions {
  margin-top: 1em;
  p {
    margin: 0;
  }
}
</style>
