<template>
  <div>
    <section class="product-previews" style="background-color:transparent">
      <a-row
        :gutter="40"
        :justify="filtersProductsBy === 'all' ? 'center' : 'space-between'"
        type="flex"
      >
        <div
          v-if="!filteredProductList.length && filtersProductsBy === 'all'"
          style="padding: 3em 0; background-color:transparent; text-align: center"
        >
          <h1>
            No products matched your criteria
          </h1>
          <a-button @click="resetFilters" type="primary"
            >Reset filters</a-button
          >
        </div>
        <a-col
          :lg="5"
          :xl="5"
          :xs="20"
          :md="10"
          v-for="product in filteredProductList"
        >
          <ProductPreview
            :id="product.id"
            :name="product.name"
            :price="product.price"
            :category="product.category"
            :animal="product.animal"
            :odor="product.odor"
            :country="product.country"
            :city="product.city"
            :appellation="product.appellation"
            :description="product.description"
            :imageUrl="product.imageUrl"
          />
        </a-col>
      </a-row>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ProductPreview from './ProductPreview'
export default {
  name: 'ProductList',
  components: { ProductPreview },
  props: {
    filtersProductsBy: {
      type: String,
      default: 'all'
    }
  },
  data() {
    return {
      values: []
    }
  },
  computed: {
    ...mapGetters('products', [
      'filteredProducts',
      'lastProductsList',
      'allProductsList'
    ]),
    filteredProductList() {
      switch (this.filtersProductsBy) {
        case 'last':
          return this.lastProductsList(4)
        default:
          return this.filteredProducts()
      }
    }
  },
  methods: {
    resetFilters() {
      this.$store.dispatch('productsFilter/SET_ALL_FILTERS')
    }
  }
}
</script>

<style scoped></style>
