<template>
  <div class="single_product_page_wrapper">
    <a-row type="flex" justify="center" align="center">
      <a-col :span="20">
        <a-row type="flex" justify="space-between" align="top">
          <a-col :xs="20" :lg="12" class="image_wrapper">
            <img :src="product.imageUrl" :alt="product.name" />
          </a-col>
          <a-col :xs="24" :md="16" :lg="10" :xl="7">
            <a-card class="product_card_infos">
              <h2>
                <b>{{ product.name }}</b>
              </h2>
              <div class="product_price">CHF {{ product.price }}.- / 100g</div>
              <div class="product_description">
                <div class="select_storage">
                  <div stlye="display:block">
                    <p>Quantity:</p>
                    <a-input-number
                      :min="1"
                      :max="100"
                      :step="1"
                      :value="quantitySelected"
                      @change="handleChange"
                    />
                  </div>
                  <div stlye="display:block;">
                    <p>Weight:</p>
                    <a-select
                      v-show="sortedStorage"
                      @change="handleSelectChange"
                      :value="{ key: weightSelected }"
                      label-in-value
                      style="width: 120px"
                    >
                      <a-select-option
                        v-for="store in sortedStorage"
                        :value="store.id"
                      >
                        {{ store.weight }}
                      </a-select-option>
                    </a-select>
                  </div>
                </div>
              </div>
              <a-divider />
              <a-button
                @click="checkAuth"
                class="uppercase btn_single_product"
                type="primary"
                size="large"
                icon="shopping-cart"
                >ADD TO CART
              </a-button>
            </a-card>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
    <a-row type="flex" justify="center" align="center">
      <a-col :xs="20" :md="20">
        <a-divider class="divider" />
        <h1>Product description</h1>
        <p>{{ product.description }}</p>
      </a-col>
    </a-row>
    <a-row type="flex" justify="center" align="center" style="margin-top:5rem">
      <a-col :xs="20" :md="20">
        <a-list bordered style="background: #fff;">
          <a-list-item>
            <span>
              <h3>Category</h3>
              <p>Dough consistency: {{ product.category }}</p>
            </span>
          </a-list-item>
          <a-list-item>
            <span>
              <h3>Origin</h3>
              <p>{{ product.city }}, {{ product.country }}</p>
              <p>Appellation: {{ product.appellation || 'None' }}</p>
            </span>
          </a-list-item>
          <a-list-item>
            <span>
              <h3>Odor</h3>
              <p>{{ product.odor | capitalize }}</p>
            </span>
          </a-list-item>
          <a-list-item>
            <span>
              <h3>Animal</h3>
              <p>{{ product.animal | capitalize }}</p>
            </span>
          </a-list-item>
          <a-list-item>
            <span>
              <h3>Maturation age</h3>
              <p>{{ product.maturation }} weeks</p>
            </span>
          </a-list-item>
          <div slot="header">
            <h2>Product details</h2>
          </div>
        </a-list>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { initStore } from '../../../helpers/initStore'
export default {
  name: 'Index',
  filters: {
    capitalize(value) {
      if (!value) return
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  data() {
    return {
      product: {},
      quantitySelected: 1,
      weightSelected: 0,
      sortedStorage: [],
      initialValueSelect: 'Select'
    }
  },
  computed: {
    getSingleProduct() {
      return this.$store.state.products.list.filter(
        (item) => item.id === parseInt(this.$route.params.id)
      )
    },
    isLogged() {
      return this.$store.getters['user/authenticated']
    },
    ...mapGetters('products', ['getStorageQty']),
    ...mapGetters('cart', ['getCartQuantity'])
  },
  watch: {
    sortedStorage: {
      handler(val) {
        this.firstSorted()
      },
      deep: true
    }
  },
  async asyncData({ store }) {
    await initStore(store)
  },

  mounted() {
    this.firstSorted()
    this.mapValues()
  },
  methods: {
    isItemUnavailable(weightValue, isNew = false) {
      const storageQty = this.getStorageQty(this.product.id, weightValue)
      if (!isNew) {
        const quantityAlreadyAdded = this.getCartQuantity(
          this.product.id,
          weightValue
        )

        if (this.quantitySelected + quantityAlreadyAdded <= storageQty) {
          return false
        } else {
          return true
        }
      } else if (this.quantitySelected <= storageQty) {
        return false
      } else {
        return true
      }
    },
    checkAuth() {
      console.log('CHECK AUTHH', this.isLogged)
      if (this.isLogged) {
        this.handleAddToCart()
      } else {
        this.$notification.error({
          message: 'An account is required',
          description: 'Please login to add products in your cart!'
        })
      }
    },
    handleAddToCart() {
      const quantitySelectedWeightValue = this.sortedStorage.filter(
        (item) => item.id === this.weightSelected
      )[0]
      const itemAlreadyInCart = this.isItemAlreadyInCart(
        this.product.id,
        quantitySelectedWeightValue.weight
      )
      if (itemAlreadyInCart) {
        if (this.isItemUnavailable(quantitySelectedWeightValue.weight)) {
          this.$message.error(
            'Sorry, you cant add more of this product, you reached the maximum capability of our store (' +
              this.getStorageQty(
                this.product.id,
                quantitySelectedWeightValue.weight
              ) +
              ')'
          )
        } else {
          this.$store.dispatch('cart/incrementQuantity', {
            id: itemAlreadyInCart,
            quantity: this.quantitySelected
          })
        }
      } else if (
        this.isItemUnavailable(quantitySelectedWeightValue.weight, true)
      ) {
        this.$message.error(
          'Sorry, you cant add more of this product, you reached the maximum capability of our store (' +
            this.getStorageQty(
              this.product.id,
              quantitySelectedWeightValue.weight
            ) +
            ')'
        )
      } else {
        this.$store
          .dispatch('cart/addItemToCart', {
            productId: this.product.id,
            quantity: this.quantitySelected,
            weight: quantitySelectedWeightValue.weight
          })
          .then((res) => this.handleSuccessCallback(res))
          .catch((e) => this.handleErrorCallback(e))
      }
    },
    isItemAlreadyInCart(productId, weightValue) {
      const cart = this.$store.state.cart.cart.filter((cartItem) => {
        return (
          cartItem.productId === productId && cartItem.weight === weightValue
        )
      })
      if (cart.length > 0) {
        return cart[0].id
      }
    },
    handleSuccessCallback(responseText) {
      this.$message.success(responseText)
    },
    handleErrorCallback(err) {
      this.$message.error(err)
    },
    handleChange(val) {
      this.quantitySelected = parseInt(val)
    },
    firstSorted() {
      if (this.sortedStorage[0]) {
        this.weightSelected = this.sortedStorage[0].id
      } else {
        this.initialValueSelect = 'Select'
      }
    },
    handleSelectChange(val) {
      this.weightSelected = val.key
    },
    mapValues() {
      const item = this.getSingleProduct.map((product, index) => {
        return {
          key: product.id,
          id: product.id,
          name: product.name,
          description: product.description,
          price: product.price,
          maturation: product.maturation || 0,
          imageUrl: product.imageUrl,
          category: product.consistency.name,
          categoryId: product.consistency.id,
          odor: product.smell.name,
          odorId: product.smell.id,
          countryId: product.origin.id,
          country: product.origin.country,
          city: product.origin.city,
          appellation: product.origin.appellation,
          animal: product.animalOrigin.animal,
          animalId: product.animalOrigin.id,
          storage: product.storage
        }
      })
      this.product = item[0]
      this.sortedStorage = item[0].storage.sort(this.compare)
    },
    compare(a, b) {
      const weightA = a.weight
      const weightB = b.weight
      let comparison = 0
      if (weightA > weightB) {
        comparison = 1
      } else if (weightA < weightB) {
        comparison = -1
      }
      return comparison
    }
  }
}
</script>

<style scoped lang="scss">
.select_storage {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single_product_page_wrapper {
  position: relative;
  margin: 10em auto;
  .btn_single_product {
    background-color: #f89866 !important;
    border-color: #f89866 !important;
    color: #242021 !important;
    font-weight: bold;
  }
  .image_wrapper {
    text-align: center;
  }
  .ant-card-meta-title {
    font-size: 2rem !important;
  }
  .divider {
    height: 10px !important;
    margin-top: 4rem;
    width: 15%;
    min-width: 15%;
    background: #f89866;
  }
}
.product_card_infos {
  -webkit-box-shadow: 0 0 13px 0 rgba(51, 51, 51, 0.23);
  box-shadow: 0 0 13px 0 rgba(51, 51, 51, 0.23);
  /*background-color: #242021 !important;*/
  background-color: white !important;
  color: #242021 !important;

  button {
    width: 100%;
  }
}
.product_price {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  /*background-color: #f89866 !important;*/
}
.product_description {
  h2,
  h4,
  p {
    color: #242021 !important;
  }
}
</style>
