<template>
  <div style="margin:2em 0">
    <h1>{{ arrayType | capitalize }}</h1>
    <a-row>
      <a-col
        v-if="values.length"
        v-for="item in values"
        :key="arrayType + '-' + item.id"
      >
        <div class="input-group">
          <a-tooltip placement="top">
            <template slot="title">
              <span>Country</span>
            </template>
            <a-input
              :id="arrayType + '-' + item.id + '-' + item.country"
              :defaultValue="item.country"
              :disabled="isDisabled"
              v-model="item.country"
              size="large"
            />
          </a-tooltip>
          <a-tooltip placement="top">
            <template slot="title">
              <span>City</span>
            </template>
            <a-input
              :id="arrayType + '-' + item.id + '-' + item.city"
              :defaultValue="item.city"
              :disabled="isDisabled"
              v-model="item.city"
              size="large"
            />
          </a-tooltip>
          <a-tooltip placement="top">
            <template slot="title">
              <span>Appellation</span>
            </template>
            <a-input
              :id="arrayType + '-' + item.id + '-' + item.appellation"
              :defaultValue="item.appellation ? item.appellation : null"
              :disabled="isDisabled"
              v-model="item.appellation"
              size="large"
            />
          </a-tooltip>

          <div class="button-group">
            <a-button
              :disabled="isDisabled"
              @click="onSave(item.id)"
              :loading="loadingTargets.includes(arrayType + '-' + item.id)"
              shape="round"
              type="primary"
            >
              Save
            </a-button>
            <a-button
              :disabled="isDisabled"
              @click="onDelete(item.id)"
              shape="circle"
              type="danger"
            >
              X
            </a-button>
          </div>
        </div>
      </a-col>
      <p v-else>There is no {{ arrayType }} yet.</p>
    </a-row>
  </div>
</template>
<script>
import _ from 'lodash'
import { findItemInArray } from '../helpers/availableTypes'
export default {
  name: 'DataTypeCountry',
  filters: {
    capitalize(value) {
      if (!value) return
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  props: {
    itemTypes: {
      type: Array,
      required: true
    },
    isDisabled: {
      type: Boolean
    },
    arrayType: {
      type: String,
      required: true
    },
    loadingTargets: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      values: []
    }
  },
  watch: {
    itemTypes(newValue, oldValue) {
      this.values = _.cloneDeep(newValue)
    }
  },
  mounted() {
    this.values = _.cloneDeep(this.itemTypes)
  },
  methods: {
    onDelete(id) {
      this.$emit('onDelete', id, this.arrayType)
    },
    onSave(id) {
      const objectValues = findItemInArray(id, this.values)
      this.$emit('onSave', objectValues, id, this.arrayType)
    },
    getItemProperty(item) {
      return item.name ? item.name : item.animal
    }
  }
}
</script>
<style scoped lang="scss">
.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  .button-group {
    margin: 0 0.5em;
    display: flex;
    button {
      margin: 0 0.5em;
    }
  }
}
</style>
