<template>
  <div style="margin:2em 0">
    <h1>{{ arrayType | capitalize }}</h1>
    <a-row>
      <a-col
        v-if="values.length"
        v-for="item in values"
        :key="arrayType + '-' + item.id"
      >
        <div class="input-group">
          <a-tooltip placement="top">
            <template slot="title">
              <span>Name</span>
            </template>
            <a-input
              v-if="item.name || (item && arrayType !== 'animals')"
              :id="arrayType + '-' + item.id"
              :defaultValue="item.name"
              :disabled="isDisabled"
              v-model="item.name"
              placeholder=""
              size="large"
              enter-button="X"
            />
          </a-tooltip>
          <a-tooltip placement="top">
            <template slot="title">
              <span>Animal</span>
            </template>
            <a-input
              v-if="item.animal || (item && arrayType === 'animals')"
              :id="arrayType + '-' + item.id"
              :defaultValue="item.animal"
              :disabled="isDisabled"
              v-model="item.animal"
              size="large"
              enter-button="X"
            />
          </a-tooltip>
          <div class="button-group">
            <a-button
              :disabled="isDisabled"
              @click="onSave(getItemProperty(item), item.id)"
              :loading="loadingTargets.includes(arrayType + '-' + item.id)"
              shape="round"
              type="primary"
            >
              Save
            </a-button>
            <a-button
              :disabled="isDisabled"
              @click="onDelete(item.id)"
              shape="circle"
              type="danger"
            >
              X
            </a-button>
          </div>
        </div>
      </a-col>
      <p v-else>There is no {{ arrayType }} yet.</p>
    </a-row>
  </div>
</template>
<script>
import _ from 'lodash'

export default {
  name: 'DataCheckboxGroup',
  filters: {
    capitalize(value) {
      if (!value) return
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  props: {
    itemTypes: {
      type: Array,
      required: true
    },
    isDisabled: {
      type: Boolean
    },
    arrayType: {
      type: String,
      required: true
    },
    loadingTargets: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      values: []
    }
  },
  watch: {
    itemTypes(newValue, oldValue) {
      this.values = _.cloneDeep(newValue)
    }
  },
  mounted() {
    this.values = _.cloneDeep(this.itemTypes)
  },

  methods: {
    onDelete(id) {
      this.$emit('onDelete', id, this.arrayType)
    },
    onSave(val, id) {
      this.$emit('onSave', val, id, this.arrayType)
    },
    getItemProperty(item) {
      return item.name ? item.name : item.animal
    }
  }
}
</script>
<style scoped lang="scss">
.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  .button-group {
    margin: 0 0.5em;
    display: flex;
    button {
      margin: 0 0.5em;
    }
  }
}
</style>
