<template>
  <a-drawer
    :visible="isDrawerVisible"
    :closable="true"
    :destroyOnClose="true"
    @close="onClose"
    placement="bottom"
    height="600"
    title="Add a new type"
  >
    <a-row type="flex" justify="center" align="middle">
      <a-col span="8">
        <div style="margin: 2em 0">
          <a-progress
            v-if="selectedKey"
            :percent="percent"
            :status="status"
            size="small"
          />
        </div>
        <div style="margin: 2em 0">
          <a-select
            :filter-option="filterOption"
            @change="handleChange"
            show-search
            placeholder="Select a type"
            option-filter-prop="children"
            style="width: 100%"
          >
            <a-select-option value="odors">
              Odors
            </a-select-option>
            <a-select-option value="categories">
              Categories
            </a-select-option>
            <a-select-option value="animals">
              Animals
            </a-select-option>
            <a-select-option value="countries">
              Countries
            </a-select-option>
          </a-select>
        </div>
        <FormAddCountry
          v-if="selectedKey === 'countries'"
          @onSubmit="onSubmit"
          array-name="countries"
        />
        <FormAddType
          v-if="selectedKey !== 'countries' && selectedKey"
          :arrayName="selectedKey"
          @onSubmit="onSubmit"
        />
      </a-col>
    </a-row>
  </a-drawer>
</template>

<script>
import { generateUrl } from '../helpers/availableTypes'
import FormAddType from './Products/FormAddType'
import FormAddCountry from './Products/FormAddCountry'
export default {
  name: 'DrawerAddDataType',
  components: { FormAddType, FormAddCountry },
  props: {
    isDrawerVisible: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      selectedKey: '',
      isLoading: false,
      status: '',
      percent: 0
    }
  },
  watch: {
    selectedKey(newValue, oldValue) {
      this.status = ''
      this.percent = 0
      this.isLoading = false
    }
  },
  methods: {
    onSubmit(value, target) {
      if (typeof value === 'object') {
        if (!value.country || !value.city) {
          this.$message.error('You must add a value for adding a new type.')
          return
        }
      } else if (!value || !value.replace(/ /g, '')) {
        this.$message.error('You must add a value for adding a new type.')
        return
      }
      const label = generateUrl(false, target)
      switch (target) {
        case 'animals':
          this.handleLoading(true)
          this.$store
            .dispatch('availableTypes/ADD_TYPE', {
              animal: value.replace(/\d+/g, ''),
              label,
              target
            })
            .then((res) => this.openNotification('success'))
            .catch((err) => this.openNotification('error', err))
          break
        case 'countries':
          this.handleLoading(true)
          const data = {
            country: value.country.replace(/\d+/g, ''),
            city: value.city.replace(/\d+/g, ''),
            appellation: value.appellation.replace(/\d+/g, '') || null
          }
          this.$store
            .dispatch('availableTypes/ADD_COUNTRY_TYPE', data)
            .then((res) => this.openNotification('success'))
            .catch((err) => this.openNotification('error', err))
          break
        default:
          this.handleLoading(true)
          this.$store
            .dispatch('availableTypes/ADD_TYPE', {
              name: value.replace(/\d+/g, ''),
              label,
              target
            })
            .then((res) => this.openNotification('success'))
            .catch((err) => this.openNotification('error', err))
          break
      }
    },

    onClose() {
      this.$emit('onClose')
      this.selectedKey = ''
    },
    handleChange(value) {
      this.selectedKey = value
    },
    handleLoading() {
      this.loading = true
      this.status = 'active'
    },
    openNotification(type, message = '') {
      for (let i = 0; i < 100; i += 20) {
        setTimeout(() => {
          this.increasePercent()
        }, 300)
      }
      setTimeout(() => {
        if (type === 'success') {
          this.status = this.$notification.success({
            message: 'Confirmation',
            description: message || 'Ajout effecuté avec succès',
            duration: 4.5
          })
          this.onClose()
        }
        if (type === 'error') {
          this.status = 'exception'
          this.$notification.error({
            message: 'Erreur',
            description:
              message || 'Une erreur est survenue lors de la sauvgarde',
            duration: 4.5
          })
        }
      }, 1500)
    },
    increasePercent() {
      this.percent = this.percent + 20
    },
    filterOption(input, option) {
      return option.componentOptions.children[0].text
        .toLowerCase()
        .includes(input.toLowerCase())
    }
  }
}
</script>

<style scoped></style>
