<template>
  <div style="width: 100%">
    <a-row type="flex" justify="center" align="top" style="margin:5em 0">
      <a-button
        @click="isDisabled = !isDisabled"
        :type="isDisabled ? 'primary' : 'danger'"
        style="margin:0 2em"
        >{{ isDisabled ? 'Enable modificiatons' : 'Disable modificiatons' }}
      </a-button>
      <a-button
        @click="isDrawerVisisble = !isDrawerVisisble"
        :type="isDrawerVisisble ? 'danger' : 'primary'"
        style="margin:0 2em"
      >
        Add a type
      </a-button>
    </a-row>
    <a-row type="flex" justify="center" align="top">
      <a-col span="8">
        <DataTypeName
          :itemTypes="getAllOdors()"
          :isDisabled="isDisabled"
          :loadingTargets="loadingTargets"
          @onSave="handleSave"
          @onDelete="confirm"
          array-type="odors"
        />
      </a-col>
      <a-col span="2"></a-col>
      <a-col span="8">
        <DataTypeName
          :itemTypes="getAllCategories()"
          :isDisabled="isDisabled"
          :loadingTargets="loadingTargets"
          @onSave="handleSave"
          @onDelete="confirm"
          array-type="categories"
        />
      </a-col>
    </a-row>
    <a-row type="flex" justify="center" align="top">
      <a-col span="8">
        <DataTypeName
          :itemTypes="getAllAnimals()"
          :isDisabled="isDisabled"
          :loadingTargets="loadingTargets"
          @onSave="handleSave"
          @onDelete="confirm"
          array-type="animals"
        />
      </a-col>
      <a-col span="2"></a-col>
      <a-col span="8">
        <DataTypeCountry
          :itemTypes="getAllCountries()"
          :isDisabled="isDisabled"
          :loadingTargets="loadingTargets"
          @onSave="handleSaveCountry"
          @onDelete="confirm"
          array-type="countries"
        />
      </a-col>
    </a-row>
    <DrawerAddDataType
      :isDrawerVisible="isDrawerVisisble"
      @onClose="isDrawerVisisble = !isDrawerVisisble"
    />
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import { generateUrl } from '../helpers/availableTypes'
import DataTypeName from './DataTypeName'
import DataTypeCountry from './DataTypeCountry'
import DrawerAddDataType from './DrawerAddDataType'

export default {
  components: { DataTypeName, DataTypeCountry, DrawerAddDataType },
  data() {
    return {
      isDisabled: true,
      loadingTargets: [],
      isDrawerVisisble: false
    }
  },
  computed: {
    ...mapGetters('availableTypes', [
      'getAllTypes',
      'getAllOdors',
      'getAllCategories',
      'getAllCountries',
      'getAllAnimals'
    ])
  },
  methods: {
    ...mapActions('availableTypes', [
      'UPDATE_TYPE',
      'UPDATE_COUNTRY_TYPE',
      'DELETE_TYPE'
    ]),
    findArrayTarget(target) {
      switch (target) {
        case 'odors':
          return this.getAllOdors()
        case 'animals':
          return this.getAllAnimals()
        case 'categories':
          return this.getAllCategories()
        case 'countries':
          return this.getAllCountries()
      }
    },
    handleSave(data, id, target) {
      if (!data || !data.replace(/ /g, '')) {
        this.$message.error('You must add a value before saving modifications.')
        return
      }
      this.handleLoading(`${target}-${id}`)
      const arrayType = this.findArrayTarget(target)
      let name
      let animal
      if (target === 'odors' || target === 'categories') {
        name = data.replace(/\d+/g, '')
      }
      if (target === 'animals') {
        animal = data.replace(/\d+/g, '')
      }
      const hasItem = this.doesItemAlreadyExist(arrayType, data, target)
      if (hasItem.length) {
        this.openNotification('info')
        this.handleLoading(`${target}-${id}`, 'out')
      } else {
        const label = generateUrl(id, target)
        this.UPDATE_TYPE({ label, id, name, animal, target })
          .then((res) => {
            this.openNotification('success')
            this.handleLoading(`${target}-${id}`, 'out')
          })
          .catch((e) => {
            this.handleLoading(target, 'out')
            this.handleLoading(`${target}-${id}`, 'out')
          })
      }
    },
    handleSaveCountry(data, id, target) {
      this.handleLoading(`${target}-${id}`)
      const arrayType = this.findArrayTarget(target)
      const hasItem = arrayType.filter((item) => {
        let isTrueItem = false
        data.forEach((val) => {
          if (
            item.country === val.country &&
            item.city === val.city &&
            item.appellation === val.appellation
          ) {
            isTrueItem = true
          }
        })
        if (isTrueItem) {
          return item
        }
      })
      if (hasItem.length) {
        this.openNotification('info')
        this.handleLoading(`${target}-${id}`, 'out')
      } else {
        let { country, city, appellation } = data[0]
        country = country.replace(/\d+/g, '')
        city = city.replace(/\d+/g, '')
        if (appellation) {
          appellation = appellation.replace(/\d+/g, '')
        }
        this.UPDATE_COUNTRY_TYPE({
          id,
          country,
          city,
          appellation
        })
          .then((res) => {
            this.openNotification('success')
            this.handleLoading(`${target}-${id}`, 'out')
          })
          .catch((e) => {
            this.handleLoading(target, 'out')
            this.handleLoading(`${target}-${id}`, 'out')
          })
      }
    },
    handleDelete(id, target) {
      this.handleLoading(`${target}-${id}`, 'out')
      const label = generateUrl(id, target)
      this.DELETE_TYPE({ label, id, target })
        .then((res) => {
          this.openNotification('success')
          this.handleLoading(`${target}-${id}`, 'out')
          this.$forceUpdate()
        })
        .catch((e) => {
          this.handleLoading(target, 'out')
          this.handleLoading(`${target}-${id}`, 'out')
          this.$forceUpdate()
        })
    },
    confirm(id, target) {
      this.$confirm({
        title: 'Confirmation',
        content: 'Are you sure to delete this value ?',
        okText: 'Confirm',
        cancelText: 'Cancel',
        onOk: () => {
          this.handleDelete(id, target)
        }
      })
    },
    handleLoading(target, inOrOut = 'in') {
      if (this.isTargetInLoadingState(target) && inOrOut === 'in') {
        return
      }
      if (!this.isTargetInLoadingState(target) && inOrOut === 'in') {
        this.loadingTargets.push(target)
      }
      if (this.isTargetInLoadingState(target) && inOrOut === 'out') {
        setTimeout(() => {
          this.loadingTargets = this.loadingTargets.filter(
            (item) => item !== target
          )
        }, 1500)
      }
    },
    openNotification(type) {
      setTimeout(() => {
        if (type === 'info') {
          this.$notification.info({
            message: 'Information',
            description:
              "Auncun changement n' a été détecté, la valeur n'a pas été modifiée.",
            duration: 4.5
          })
        }
        if (type === 'success') {
          this.$notification.success({
            message: 'Confirmation',
            description: 'Changements effecuté avec succès',
            duration: 4.5
          })
        }
        if (type === 'error') {
          this.$notification.error({
            message: 'Erreur',
            description: 'Une erreur est survenue lors de la sauvgarde',
            duration: 4.5
          })
        }
      }, 1500)
    },
    isTargetInLoadingState(target) {
      return this.loadingTargets.includes(target)
    },
    doesItemAlreadyExist(arr, data, target) {
      if (target === 'animals') {
        return arr.filter((item) => item.animal === data)
      } else {
        return arr.filter((item) => item.name === data)
      }
    }
  }
}
</script>
