<template>
  <div>
    <div id="header" :style="headerStyle()" class="container_wrapper">
      <a-layout id="components-layout-demo-top" class="layout">
        <a-layout-header>
          <div class="logo" />
          <a-menu
            :defaultSelectedKeys="[current]"
            theme="light"
            mode="horizontal"
          >
            <a-menu-item key="index">
              <nuxt-link to="/">Home</nuxt-link>
            </a-menu-item>
            <a-menu-item key="products">
              <nuxt-link to="/products">Products</nuxt-link>
            </a-menu-item>
            <a-menu-item key="cart" @click="isCartDisplayed = !isCartDisplayed">
              <a-badge :count="cartLength"
                ><a-avatar shape="square" icon="shopping-cart" />
              </a-badge>
            </a-menu-item>
            <a-menu-item key="admin" v-if="isAdmin">
              <nuxt-link to="/admin">Admin Dashboard</nuxt-link>
            </a-menu-item>
            <a-menu-item key="login">
              <a v-if="!authenticated" @click="login">Login</a>
              <a-dropdown v-else>
                <a @click="(e) => e.preventDefault()" class="ant-dropdown-link">
                  {{ firstName }}
                  <a-avatar :size="35" :src="image" />
                </a>
                <a-menu slot="overlay">
                  <a-menu-item>
                    <a @click="logout">Logout</a>
                  </a-menu-item>
                </a-menu>
              </a-dropdown>
            </a-menu-item>
          </a-menu>
        </a-layout-header>
      </a-layout>
    </div>

    <div class="cart_container_wrapper">
      <Cart
        v-bind:style="{ display: isCartDisplayed ? 'block' : 'none' }"
        @close="hideCart"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Firebase from '../helpers/firebase'
import Cart from './Cart/Cart'
import '../components/Cart/cart.css'
export default {
  name: 'Header',
  components: { Cart },
  props: {
    isProductsPage: {
      type: Boolean,
      required: false
    },
    isDefaultPage: {
      type: Boolean,
      required: false
    }
  },

  data() {
    return {
      cartItems: 0,
      isCartDisplayed: false
    }
  },
  computed: {
    current() {
      return this.$route.name
    },
    cartLength() {
      return this.$store.state.cart.cart.length
    },
    ...mapGetters('user', ['authenticated', 'image', 'firstName', 'isAdmin'])
  },
  watch: {
    authenticated(newValue, oldValue) {
      if (newValue) {
        this.$store.dispatch('cart/setUserCart')
      }
    }
  },
  beforeMount() {
    this.watchFirebase()
  },

  methods: {
    ...mapActions('user', ['loginAction', 'logoutAction', 'watchFirebase']),
    headerStyle() {
      const headerStyles = {
        backgroundColor: this.isDefaultPage ? '#242021' : 'transparent',
        zIndex: 999
      }
      return headerStyles
    },
    login() {
      Firebase.login()
    },
    logout() {
      Firebase.logout()
    },
    hideCart() {
      this.isCartDisplayed = false
    }
  }
}
</script>

<style lang="scss">
.cart_container_wrapper {
  position: relative;
}
.container_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.ant-menu-horizontal {
  border-bottom: none !important;
}
.ant-layout,
.ant-layout-header {
  background-color: transparent !important;
}
.ant-menu {
  background-color: transparent;
  .ant-menu-item a {
    color: #eaeaea !important;
    font-weight: bold;
  }
  .ant-menu-item:hover {
    border-bottom-color: #eaeaea !important;
    a {
      color: #eaeaea !important;
    }
  }
  .ant-menu-item.ant-menu-item-selected {
    border-bottom-color: #f89866 !important;
    a {
      color: #f89866 !important;
      font-weight: bold;
    }
  }
  .ant-avatar {
    background: transparent !important;
  }
  .ant-menu-item .anticon {
    font-size: 22px !important;
    margin-left: 10px;
    margin-top: 6px;
  }
}
</style>
