<template>
  <div class="container">
    <div class="bg_hero"></div>
    <div class="hero_title_container">
      <div class="hero_title">
        <h1>Welcome in our cheese shop!</h1>
      </div>
    </div>
  </div>
</template>
<script></script>
<style lang="scss" scoped>
.container {
  position: relative;
  top: 0;
  left: 0;
  height: 60vh;
  width: 100vw;

  .bg_hero {
    filter: brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/cheese_bg_1_filter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .hero_title_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .hero_title {
      text-align: center;
      h1 {
        color: #eaeaea;
        font-size: 3rem;
      }
    }
  }
}
</style>
