<template>
  <a-modal
    :visible="isVisible"
    @ok="handleClose"
    @cancel="handleClose"
    :destroyOnClose="true"
    :afterClose="handleReset"
    title="Storage"
    width="1000px"
  >
    <a-row :gutter="[48, 48]" type="flex" justify="center">
      <a-col span="16">
        <div style="text-align: left">
          <h2 v-if="submitMethod === 'put'">Edit product n° {{ values.id }}</h2>
          <h2 v-else>Add a product</h2>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[48, 48]" type="flex" justify="center" align="middle">
      <a-col span="8">
        <p class="label_form">Name:</p>
        <a-input v-model="values.name" placeholder="Name" />
      </a-col>
      <a-col span="8">
        <p class="label_form">Description:</p>

        <a-input v-model="values.description" placeholder="Name" />
      </a-col>
    </a-row>
    <a-row :gutter="[48, 48]" type="flex" justify="center" align="middle">
      <a-col span="10">
        <p class="label_form">Image: Url</p>
        <a-input v-model="values.imageUrl" placeholder="Image adress" />
      </a-col>
      <a-col span="3">
        <p class="label_form">Price:</p>
        <a-input-number v-model="values.price" :min="1" placeholder="Price" />
      </a-col>
      <a-col span="3">
        <p class="label_form">Maturation:</p>
        <a-input-number
          v-model="values.maturation"
          :min="0"
          placeholder="Maturation"
        />
      </a-col>
    </a-row>
    <a-row :gutter="[48, 48]" type="flex" justify="center" align="middle">
      <a-col span="8">
        <p class="label_form">Odor:</p>
        <SelectOptions
          :defaultValueId="record ? record.odorId : 0"
          :defaultValue="record ? record.odor : ''"
          @change="handleChangeSelects"
          :submitMethod="submitMethod"
          data-source="odors"
        />
      </a-col>
      <a-col span="8">
        <p class="label_form">Category:</p>

        <SelectOptions
          :defaultValueId="record ? record.categoryId : 0"
          :defaultValue="record ? record.category : ''"
          :submitMethod="submitMethod"
          @change="handleChangeSelects"
          data-source="categories"
        />
      </a-col>
    </a-row>
    <a-row :gutter="[48, 48]" type="flex" justify="center" align="middle">
      <a-col span="8">
        <p class="label_form">Animal:</p>

        <SelectOptions
          :defaultValueId="record ? record.animalId : 0"
          :defaultValue="record ? record.animal : ''"
          @change="handleChangeSelects"
          :submitMethod="submitMethod"
          data-source="animals"
        />
      </a-col>
      <a-col span="8">
        <p class="label_form">Country:</p>
        <SelectOptions
          :defaultValueId="record ? record.countryId : 0"
          :defaultValue="record ? record.country : ''"
          @change="handleChangeSelects"
          :submitMethod="submitMethod"
          data-source="countries"
        />
      </a-col>
    </a-row>
    <a-row :gutter="[48, 48]" type="flex" justify="center" align="middle">
      <a-col span="8">
        <div style="text-align: center">
          <a-button @click="handleSubmit" type="danger">Submit</a-button>
        </div>
      </a-col>
    </a-row>
  </a-modal>
</template>

<script>
import _ from 'lodash'
import SelectOptions from './SelectOptions'
export default {
  name: 'ModalOperationProduct',
  components: { SelectOptions },
  props: {
    isVisible: {
      type: Boolean,
      required: true
    },
    submitMethod: {
      type: String,
      required: true
    },
    record: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      values: {},
      isLoading: true
    }
  },
  watch: {
    record(newValue, oldValue) {
      if (newValue) {
        this.isLoading = false
        this.values = _.cloneDeep(newValue)
      }
    }
  },
  beforeDestroy() {
    this.values = {}
  },
  mounted() {
    this.setValues()
  },

  methods: {
    handleChangeSelects(data, dataSource) {
      switch (dataSource) {
        case 'odors':
          this.values.odorId = data.id
          this.values.odor = data.name
          break
        case 'categories':
          this.values.categoryId = data.id
          this.values.category = data.name
          break
        case 'animals':
          this.values.animalId = data.id
          this.values.animal = data.animal
          break
        case 'countries':
          this.values.countryId = data.id
          this.values.country = `${data.country}, ${
            data.city
          } - Appellation : ${data.appellation ? data.appellation : 'none'}`
          break
      }
    },
    setValues() {
      if (this.record && this.submitMethod === 'put') {
        this.values = _.cloneDeep(this.record)
      } else {
        this.values = {}
      }
    },
    handleReset() {
      this.values = {}
    },
    handleSubmit() {
      const {
        description,
        price,
        maturation,
        imageUrl,
        odorId,
        countryId,
        categoryId,
        animalId
      } = this.values
      const name = this.values.name.replace(/\d+/g, '')
      if (
        !name ||
        !description ||
        !price ||
        !imageUrl ||
        !odorId ||
        !countryId ||
        !categoryId ||
        !animalId
      ) {
        this.$message.error(
          'All values except maturation must be filled before adding or editing a new product.'
        )
      } else {
        const payload = {
          name,
          description,
          price,
          maturation,
          imageUrl,
          smellId: odorId,
          originId: countryId,
          consistencyId: categoryId,
          animalOriginId: animalId
        }
        if (this.submitMethod === 'post') {
          this.$store.dispatch('products/ADD_PRODUCT', payload).then((res) => {
            this.$emit('handleSuccessCallback', res.text)
            setTimeout(() => {
              this.$emit('onClose')
              setTimeout(() => {
                this.$emit('handleOpenModal', res.id)
              }, 1000)
            }, 1000)
          })
        } else {
          payload.id = this.values.id
          this.$store.dispatch('products/EDIT_PRODUCT', payload).then((res) => {
            this.$emit('handleSuccessCallback', res)
            setTimeout(() => {
              this.$emit('onClose')
            }, 1000)
          })
        }
      }
    },
    handleSave(id) {
      const stock = this.values.filter((item) => item.id === id)[0]
      const { weight, quantity, productId } = stock
      this.$store
        .dispatch('products/UPDATE_STORAGE', {
          weight,
          quantity,
          productId,
          id
        })
        .then((res) => {
          this.$emit('handleSuccessCallback', res)
        })
    },
    handleClose() {
      this.$emit('onClose')
    }
  }
}
</script>

<style scoped>
.label_form {
  margin-bottom: 0.3em;
  margin-top: 1em;
}
</style>
