<template>
  <a-modal
    :visible="isVisible"
    @ok="handleClose"
    @cancel="handleClose"
    title="Storage"
    width="1000px"
    ok-text="Close"
  >
    <div style="text-align: center; margin: 1em 0 3em 0">
      <h3 v-if="!values" style="margin: 1em 0 3em 0">
        No storage for this product yet
      </h3>
      <a-button
        v-if="values"
        @click="isDisabled = !isDisabled"
        :type="isDisabled ? 'primary' : 'danger'"
        >{{ isDisabled ? 'Enable modifications' : 'Cancel modificiatons' }}
      </a-button>
      <a-button
        :type="isFormVisible ? 'danger' : 'primary'"
        @click="isFormVisible = !isFormVisible"
        style="margin:0 2em"
      >
        {{ isFormVisible ? 'Cancel' : 'Add a storage' }}
      </a-button>
    </div>
    <a-row type="flex" justify="center" align="middle">
      <a-col span="24">
        <div
          v-if="isFormVisible"
          style="display:flex;justify-content: center;align-items: center; margin: 0em 0 4em 0"
        >
          <a-form layout="inline" style="text-align: center">
            <a-form-item label="Quantity">
              <a-input-number
                v-model="addStorage.quantity"
                :default-value="1"
                :min="1"
                :max="100000"
                placeholder="quantity"
              />
            </a-form-item>
            <a-form-item label="Weight">
              <a-input-number
                v-model="addStorage.weight"
                :defaultvalue="1"
                :min="1"
                :max="100000"
                placeholder="weight"
              />
            </a-form-item>
          </a-form>
          <div class="button-group">
            <a-button
              @click="handleSaveAddStorage"
              shape="round"
              type="primary"
            >
              Save
            </a-button>
            <a-button
              @click="handleResetAddStorage"
              shape="circle"
              type="danger"
            >
              X
            </a-button>
          </div>
        </div>
        <a-row
          v-if="values.length"
          v-for="storage in values"
          type="flex"
          justify="center"
        >
          <a-col
            span="24"
            style="display:flex;justify-content: center;align-items: center"
          >
            <a-form layout="inline" style="text-align: center">
              <a-form-item label="Quantity">
                <a-input-number
                  :disabled="isDisabled"
                  :defaultValue="storage.quantity"
                  v-model="storage.quantity"
                  :min="1"
                  :max="100000"
                  placeholder="quantity"
                />
              </a-form-item>
              <a-form-item label="Weight">
                <a-input-number
                  :disabled="isDisabled"
                  :defaultValue="storage.weight"
                  v-model="storage.weight"
                  :min="1"
                  :max="100000"
                  placeholder="weight"
                />
              </a-form-item>
            </a-form>
            <div class="button-group">
              <a-button
                :disabled="isDisabled"
                @click="() => handleSave(storage.id)"
                shape="round"
                type="primary"
              >
                Save
              </a-button>
              <a-button
                :disabled="isDisabled"
                @click="() => handleDelete(storage.id, storage.productId)"
                shape="circle"
                type="danger"
              >
                X
              </a-button>
            </div>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
  </a-modal>
</template>
<script>
// <!--import _ from 'lodash'-->
export default {
  name: 'ModalAddStorage',
  props: {
    isVisible: {
      type: Boolean,
      required: true
    },
    storageData: {
      type: Array,
      required: false
    },
    referenceId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      isDisabled: true,
      isFormVisible: false,
      values: [],
      addStorage: {
        quantity: 1,
        weight: 1
      }
    }
  },
  watch: {
    storageData(newValue, oldValue) {
      this.values = newValue
    },
    referenceId(newValue, oldValue) {
      this.setValues()
    }
  },
  beforeUpdate() {
    if (!this.values) {
      this.setValues()
    }
  },
  mounted() {
    this.values = this.storageData
  },
  methods: {
    setValues() {
      this.values = this.storageData
    },
    handleResetAddStorage() {
      this.addStorage = { quantity: '', weight: '' }
      this.isFormVisible = false
    },
    handleSaveAddStorage() {
      const { weight, quantity } = this.addStorage
      const productId = this.referenceId
      this.$store
        .dispatch('products/ADD_STORAGE', { weight, quantity, productId })
        .then((res) => {
          this.addStorage = {}
          this.$emit('handleSuccessCallback', res)
          this.$forceUpdate()
        })
    },
    handleSave(id) {
      const stock = this.values.filter((item) => item.id === id)[0]
      const { weight, quantity, productId } = stock
      this.$store
        .dispatch('products/UPDATE_STORAGE', {
          weight,
          quantity,
          productId,
          id
        })
        .then((res) => {
          this.$emit('handleSuccessCallback', res)
        })
    },
    handleDelete(id, productId) {
      this.$store
        .dispatch('products/DELETE_STORAGE', {
          id,
          productId
        })
        .then((res) => {
          this.$emit('handleSuccessCallback', res)
        })
    },
    handleClose() {
      this.isFormVisible = false
      this.isDisabled = true
      this.addStorage = {}
      this.$emit('onClose')
    }
  }
}
</script>

<style scoped></style>
