<template>
  <div>
    <a-select
      :defaultValue="submitMethod === 'put' ? defaultValueId : 'Select'"
      @change="handleValueChange"
      placeholder="Select a option and change input text above"
      style="width:100%"
    >
      <a-select-option
        v-if="type.name"
        v-for="type in getAllTypes()[dataSource]"
        :value="type.id"
      >
        {{ type.name }}
      </a-select-option>
      <a-select-option
        v-if="type.animal"
        v-for="type in getAllTypes()[dataSource]"
        :value="type.id"
      >
        {{ type.animal }}
      </a-select-option>
      <a-select-option
        v-if="type.country"
        v-for="type in getAllTypes()[dataSource]"
        :value="type.id"
      >
        {{ type.city + ' / ' + type.country }}
      </a-select-option>
    </a-select>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SelectOptions',
  props: {
    dataSource: {
      type: String,
      required: true
    },
    defaultValueId: {
      type: Number,
      required: true
    },
    defaultValue: {
      type: String,
      required: true
    },
    submitMethod: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isLoading: false
    }
  },

  computed: {
    ...mapGetters('availableTypes', ['getAllTypes'])
  },
  methods: {
    handleValueChange(value) {
      console.log('value change', value)
      const property = this.getAllTypes()[this.dataSource].filter(
        (item) => item.id === value
      )[0]
      this.$emit('change', property, this.dataSource)
    }
  }
}
</script>
