<template>
  <div>
    <a-tag :color="bgColor">
      <p class="tag_text">{{ text }}</p>
    </a-tag>
  </div>
</template>
<script>
export default {
  props: ['bgColor', 'text']
}
</script>
<style>
.tag_text {
  padding: 0.4rem;
  font-weight: bold;
  color: #eaeaea;
  margin-bottom: 0;
  font-size: 15px;
}
</style>
