<template>
  <a-row type="flex" justify="center" style="padding-bottom: 5em">
    <a-col span="23">
      <div class="admin_container">
        <a-tabs default-active-key="1" size="large">
          <a-tab-pane key="1" tab="Product Catalog">
            <a-row type="flex" justify="center">
              <a-col span="24" style="text-align: center;padding:1em 0 2em 0;">
                <a-button
                  @click="handleOperationProduct('post')"
                  class="editable-add-btn"
                  type="primary"
                  size="large"
                >
                  Add a product
                </a-button>
              </a-col>
            </a-row>

            <a-table
              :data-source="data"
              :columns="columns"
              :scroll="{ x: 1500 }"
              bordered
            >
              <template
                v-for="column in columns"
                :slot="column.dataIndex"
                slot-scope="text"
              >
                <div :key="column.dataIndex">
                  <template> {{ text }}</template>
                </div>
              </template>
              <template slot="seeStorage" slot-scope="text, record">
                <div style="text-align: center">
                  <a-tag
                    :key="record.key"
                    @click="() => handleOpenModal(record.id)"
                    color="#f50"
                  >
                    {{ record.seeStorage }}
                  </a-tag>
                </div>
              </template>
              <template slot="operation" slot-scope="text, record">
                <div class="editable-row-operations" style="text-align: center">
                  <span>
                    <a-button
                      :disabled="editingKey !== ''"
                      @click="() => handleOperationProduct('put', record)"
                      shape="round"
                      type="primary"
                    >
                      Edit
                    </a-button>
                  </span>
                </div>
              </template>
              <template slot="delete" slot-scope="text, record">
                <a-popconfirm
                  @confirm="() => onDelete(record.id)"
                  title="Sure to delete?"
                >
                  <div style="text-align: center">
                    <a-button shape="circle" type="danger">
                      X
                    </a-button>
                  </div>
                </a-popconfirm>
              </template>
            </a-table>
            <ModalAddStorage
              :isVisible="isStorageVisible"
              :referenceId="idProductReference"
              :storageData="getSingleProductStorage(this.idProductReference)"
              @onClose="isStorageVisible = false"
              @handleSuccessCallback="handleSuccessCallback"
            />
            <ModalOperationProduct
              :isVisible="isEditVisible"
              :referenceId="idProductReference"
              :record="editingRecord"
              :submitMethod="submitMethod"
              @onClose="isEditVisible = false"
              @handleOpenModal="handleOpenModal"
              @handleSuccessCallback="handleSuccessCallback"
            />
          </a-tab-pane>
          <a-tab-pane key="2" tab="Add types">
            <FormAddSpecificData />
          </a-tab-pane>
        </a-tabs>
      </div>
    </a-col>
  </a-row>
</template>
<script>
import { mapGetters } from 'vuex'
// import axios from 'axios'
import FormAddSpecificData from '../../components/FormAddSpecificData'
import ModalAddStorage from '../../components/ModalAddStorage'
import ModalOperationProduct from '../../components/ModalOperationProduct'
import { initStore } from '../../helpers/initStore'
const columns = [
  {
    title: '#',
    width: 60,
    dataIndex: 'id',
    key: 'id',
    fixed: 'left'
  },
  {
    title: 'Name',
    width: 200,
    dataIndex: 'name',
    key: 'name',
    scopedSlots: { customRender: 'name' },
    fixed: 'left'
  },
  {
    title: 'Description',
    dataIndex: 'description',
    key: 'description',
    width: 150
  },
  {
    title: 'Price',
    dataIndex: 'price',
    key: 'price',
    width: 80
  },
  {
    title: 'Maturation',
    dataIndex: 'maturation',
    key: 'maturation',
    width: 120
  },
  {
    title: 'Image',
    dataIndex: 'imageUrl',
    key: 'imageUrl',
    width: 150
  },
  {
    title: 'Storage',
    dataIndex: 'seeStorage',
    scopedSlots: { customRender: 'seeStorage' },
    key: 'seeStorage',
    width: 150
  },
  {
    title: 'Category',
    dataIndex: 'category',
    key: 'category',
    dataType: 'object',
    width: 150
  },
  {
    title: 'From country',
    dataIndex: 'country',
    key: 'country',
    dataType: 'object',
    width: 150
  },
  {
    title: 'Smell',
    dataIndex: 'odor',
    key: 'odor',
    dataType: 'object',
    width: 150
  },
  {
    title: 'Animal',
    dataIndex: 'animal',
    key: 'animal',
    dataType: 'object',
    width: 150
  },
  {
    title: 'Edit',
    key: 'operation',
    width: 100,
    scopedSlots: { customRender: 'operation' },
    fixed: 'right'
  },
  {
    title: 'Delete',
    key: 'delete',
    width: 100,
    scopedSlots: { customRender: 'delete' },
    fixed: 'right'
  }
]
export default {
  name: 'Admin',
  components: { ModalAddStorage, ModalOperationProduct, FormAddSpecificData },
  layout: 'default',
  data() {
    return {
      isStorageVisible: false,
      isEditVisible: false,
      idProductReference: 0,
      data: [],
      columns,
      editingKey: '',
      submitMethod: '',
      editingRecord: {},
      currentCreatingKey: ''
    }
  },
  computed: {
    ...mapGetters('products', ['allProductsList', 'getSingleProductStorage']),
    ...mapGetters('availableTypes', [
      'getAllTypes',
      'getAllCountries',
      'getAllCategories',
      'getAllOdors',
      'getAllAnimals'
    ]),
    products() {
      return this.$store.state.products.list
    }
  },
  watch: {
    products() {
      this.mapValues()
    }
  },
  async asyncData({ store }) {
    await initStore(store)
  },

  beforeMount() {
    this.$store.dispatch('products/GET_ALL_STORAGES')
  },
  mounted() {
    this.mapValues()
  },
  methods: {
    mapValues() {
      const dataSource = this.products.map((product, index) => {
        return {
          key: product.id,
          id: product.id,
          name: product.name,
          description: product.description,
          price: product.price,
          maturation: product.maturation || 0,
          imageUrl: product.imageUrl,
          category: product.consistency.name,
          categoryId: product.consistency.id,
          odor: product.smell.name,
          odorId: product.smell.id,
          country: `${product.origin.country},${
            product.origin.city
          } - Appellation: ${product.origin.appellation || 'none'}`,
          countryId: product.origin.id,
          animal: product.animalOrigin.animal,
          animalId: product.animalOrigin.id,
          seeStorage: 'See storage',
          storage: product.storage,
          ownerId: product.ownerId
        }
      })
      this.data = dataSource
    },
    handleOpenModal(id) {
      this.idProductReference = id
      this.isStorageVisible = true
    },
    handleOperationProduct(method, record = false) {
      if (record) {
        this.editingRecord = record
      } else {
        this.editingRecord = null
      }
      this.submitMethod = method
      this.isEditVisible = true
    },
    handleResetAddStorage() {
      this.addStorage = { quantity: '', weight: '' }
      this.isFormVisible = false
    },
    handleSaveAddStorage() {
      const { weight, quantity } = this.addStorage
      this.store
        .dispatch('products/ADD_STORAGE', { weight, quantity })
        .then((res) => {
          this.handleSuccessCallback(res)
        })
    },

    handleSuccessCallback(responseText) {
      setTimeout(() => {
        this.$notification.success({
          message: 'Confirmation',
          description: responseText,
          duration: 4.5
        })
      }, 100)
      if (this.editingRecord) {
        this.$forceUpdate()
      }
    },
    handleChange(value, key, column) {
      const newData = [...this.data]
      const target = newData.filter((item) => key === item.key)[0]
      if (target) {
        target[column] = value
        this.data = newData
      }
    },
    onDelete(id) {
      let hasError = false
      const product = this.products.filter((item) => item.id === id)[0]
      if (product.storage) {
        product.storage.forEach((store) => {
          this.$store
            .dispatch('products/DELETE_STORAGE', {
              id: store.id,
              productId: store.productId
            })
            .catch((e) => (hasError = true))
        })
      }
      if (!hasError) {
        this.$store
          .dispatch('products/DELETE_PRODUCT', id)
          .then((res) => this.handleSuccessCallback(res))
      }
    }
  }
}
</script>
<style lang="scss">
th,
td {
  text-align: center !important;
  background-color: #eaeaea !important;
  border-color: #fff !important;
}
.ant-table-thead > tr > th {
  color: #eaeaea;
  font-weight: bold;
  background: #242021 !important;
}
.ant-pagination-item {
  color: #242021;
  background-color: #eaeaea;
  border-color: #242021;
}
.ant-pagination-item:hover {
  border-color: #242021 !important;
  a {
    color: #242021;
  }
}
.ant-table-pagination.ant-pagination {
  float: unset;
  text-align: center;
}

.ant-pagination-item a {
  color: #242021;
}
.ant-pagination-item-active {
  background-color: #f89866;
}
.ant-pagination-item-active a {
  color: #242021 !important;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: #242021;
  color: #eaeaea;
  border-color: #f89866;
}
.ant-pagination-prev .ant-pagination-item-link:hover,
.ant-pagination-next .ant-pagination-item-link:hover {
  color: #f89866;
}
.admin_container {
  margin-top: 5rem;
}
</style>
