@media only screen and (max-width: 767px) {
  .cart_container_wrapper {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (min-width: 768px) {
  .cart_container_wrapper {
    right: 2% !important;
  }
}
.cart_container_wrapper {
  position: fixed;
  bottom: 5%;
}
.ant-badge-count{
  top:8px;
  right:-14px;
  background:#f89866;
  color:#242021;
}
.anticon .anticon-shopping-cart{
  margin-top:6px;
}
