<template>
  <div class="cart_item_container">
    <div class="cart_item_info">
      <h3>{{ name }}</h3>
      <div style="display:block">
        <p style="display:inline-block">
          Quantity: <b>{{ quantity }}x</b>
        </p>
        <a-divider type="vertical" />
        <p style="display:inline-block">
          Weight: <b>{{ weight }}g</b>
        </p>
        <p>
          Price: <b>{{ productPrice }}.- CHF</b>
        </p>
      </div>
    </div>
    <div class="cart_item_actions">
      <div class="actions_edit">
        <a-button
          @click="handleIncrement"
          shape="circle"
          size="small"
          type="primary"
          >+</a-button
        >
        <a-button
          @click="handleDecrement"
          shape="circle"
          size="small"
          type="danger"
          >-</a-button
        >
      </div>
      <a-button
        @click="handleConfirmationRemoveItem"
        shape="circle"
        type="danger"
        >x</a-button
      >
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'CartItem',
  props: {
    id: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    productId: {
      type: Number,
      required: true
    },
    quantity: {
      type: Number,
      required: true
    },
    weight: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      canIncrement: true,
      canDecrement: true,
      productPrice: 0
    }
  },
  mounted() {
    this.productPrice = this.getProductPrice(this.productId)
  },
  computed: {
    cartItems() {
      return this.$store.state.cart.cart
    },
    ...mapGetters('products', [
      'getSingleStorage',
      'getProductName',
      'getProductPrice',
      'getStorageQty'
    ])
  },
  methods: {
    ...mapActions('cart', [
      'incrementQuantity',
      'decrementQuantity',
      'deleteItemToCart'
    ]),
    isItemUnavailable() {
      const storageQty = this.getStorageQty(this.productId, this.weight)
      if (this.quantity < storageQty) {
        return false
      } else {
        return true
      }
    },
    handleIncrement() {
      if (this.isItemUnavailable()) {
        this.handleShowMessage(
          'Sorry, but you reached the maximum storage (' +
            this.quantity +
            ') for that product',
          'error'
        )
      } else {
        this.incrementQuantity({ id: this.id })
      }
    },
    handleDecrement() {
      if (this.quantity < 2) {
        // remove product from cart
        this.handleConfirmationRemoveItem()
      } else {
        this.decrementQuantity({ id: this.id })
      }
    },
    handleShowMessage(text, status) {
      switch (status) {
        case 'error':
          this.$message.error(text)
          break
        case 'success':
          this.$message.success(text)
          break
        case 'information':
          this.$message.info(text)
          break
      }
    },
    handleConfirmationRemoveItem() {
      this.$confirm({
        title: 'Are you sure to remove this item from your cart ?',
        onOk: () => {
          this.handleRemoveItem()
        }
      })
    },
    handleRemoveItem() {
      this.$store.dispatch('cart/deleteItemToCart', { id: this.id })
    }
  }
}
</script>
<style>
.cart_item_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.cart_item_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions_edit {
  display: grid;
  grid-gap: 10px;
  padding-right: 1rem;
}
</style>
