<template>
  <div class="cart_container">
    <div class="cart_header">
      <h2>Cart</h2>
      <a-icon
        @click="$emit('close')"
        type="close-circle"
        style="font-size:1.3rem"
      />
    </div>
    <a-divider />
    <div v-show="cartItems.length > 0">
      <div class="cart_item_list">
        <div v-for="(item, index) in cartItems">
          <a-divider v-show="index > 0" />
          <CartItem
            :id="item.id"
            :name="getProductName(item.productId)"
            :quantity="item.quantity"
            :weight="item.weight"
            :productId="item.productId"
          />
        </div>
      </div>
      <div class="cart_total">
        <a-divider />
        <div class="total">
          <h3>Total:</h3>
          <h3>{{ getCartTotalPrice() }} .- CHF</h3>
        </div>

        <div style="text-align: center; padding: 1.5em 0">
          <a-button
            @click="showCovidNotification"
            :disabled="false"
            type="danger"
            style="width:100%"
            >PROCEED TO CHECKOUT</a-button
          >
        </div>
      </div>
    </div>
    <div v-show="cartItems.length < 1" style="text-align: center">
      <h4>You don't have any products in your cart yet.</h4>
      <a-button @click="$router.push('/products')" type="primary"
        >Browse products</a-button
      >
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import CartItem from './CartItem'
export default {
  name: 'Cart',
  components: { CartItem },
  computed: {
    cartItems() {
      return this.$store.state.cart.cart
    },
    getCartTotalPrice() {
      return this.$store.getters['cart/getCartTotalPrice']
    },
    ...mapGetters('products', ['getProductName'])
  },
  methods: {
    showCovidNotification() {
      this.$notification.info({
        message: 'Orders are currently not available',
        description:
          "Due to COVID-19 restriction,we are sorry to inform you that we're not able to process your order.\n Sorry for the incovenience. Thank you for your comprehesion."
      })
    },
    getCartPrice() {
      let price = 0
      this.cartItems.forEach((item) => {
        const itemPrice = item.quantity * item.price
        price += itemPrice
      })
      return parseFloat(price).toFixed(2)
    }
  }
}
</script>
<style scoped lang="scss">
.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    cursor: pointer;
  }
  h2 {
    margin: 0;
  }
}
.cart_container {
  position: fixed;
  right: 2%;
  bottom: 3%;
  min-width: 350px;
  max-width: 400px;
  overflow-y: auto;
  background-color: white;
  z-index: 1500;
  border-radius: 5px;
  padding: 1em 2em;
  box-shadow: 0 0 13px 0 rgba(51, 51, 51, 0.23);
}
.cart_item_list {
  padding-right: 1rem;
  max-height: 300px;
  overflow: auto;
}

.total {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.ant-divider-horizontal {
  margin: 12px 0 !important;
}
h3,
p {
  margin: 0.1rem;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(24, 144, 255, 1);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(24, 144, 255, 0.8);
}
</style>
