<template>
  <div class="container">
    <section>
      <Tag text="Derniers produits" bg-color="#f89866" />
      <div>
        <ProductList filters-products-by="last" />
      </div>
    </section>
    <section>
      <Tag text="A notre sujet" bg-color="#f89866" />
      <div class="cards_wrapper">
        <CardList />
      </div>
    </section>
  </div>
</template>

<script>
import CardList from '../components/CardDisplay/CardList'
import ProductList from '../components/Products/ProductList'
import Tag from '../components/Tag'
import { initStore } from '../helpers/initStore'
export default {
  name: 'Index',
  layout: 'home',
  components: {
    ProductList,
    CardList,
    Tag
  },
  async asyncData({ store }) {
    await initStore(store)
  }
}
</script>
<style scoped>
section {
  margin: 3rem auto;
}
.container {
  max-width: 70%;
  margin: 3rem auto;
}
</style>
