<template>
  <div class="card_container_wrapper">
    <span v-if="layout === 'left'">
      <div class="card_container">
        <div class="card_image_wrapper">
          <img
            src="https://cdn.hswstatic.com/gif/different-cheeses.jpg"
            alt="cheese"
          />
        </div>
        <div class="card-content_left_layout">
          <div>
            <h1>{{ title }}</h1>
            <p>
              {{ content }}
            </p>
          </div>
        </div>
      </div>
    </span>
    <span v-else>
      <div class="card_container">
        <div class="card-content_right_layout">
          <div>
            <h1>{{ title }}</h1>
            <p>
              {{ content }}
            </p>
          </div>
        </div>
        <div class="card_image_wrapper">
          <img
            src="https://cdn.hswstatic.com/gif/different-cheeses.jpg"
            alt="cheese"
          />
        </div>
      </div>
    </span>
  </div>
</template>
<script>
export default {
  name: 'CardVertical',
  props: {
    layout: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    content: {
      type: String,
      required: true
    },
    redirectLinkText: {
      type: String,
      required: false
    },
    redirectLinkUrl: {
      type: String,
      required: false
    }
  }
}
</script>
<style lang="scss">
.card_container_wrapper {
  width: 100%;
  height: 100%;
  margin: 5rem auto;

  .card_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card_image_wrapper {
      max-width: 100%;
      img {
        max-width: 100%;
        border-radius: 5px;
      }
    }
    .card-content_left_layout {
      div {
        width: 80%;
        margin-left: auto;
      }
    }
    .card-content_right_layout {
      div {
        width: 80%;
        margin-right: auto;
      }
    }
  }
}
</style>
