<template>
  <div class="card_list_container">
    <CardVertical
      v-for="(card, index) in cardListContent"
      :key="card.id"
      :layout="index % 2 === 0 ? 'left' : 'right'"
      :id="card.id"
      :title="card.title"
      :content="card.content"
      :redirectLinkText="card.redirectLinkText"
      :redirectLinkUrl="card.redirectLinkUrl"
    />
  </div>
</template>
<script>
import { homePageCardContent } from '../../assets/homePageCardContent'
import CardVertical from './CardVertical'
export default {
  name: 'CardList',
  components: { CardVertical },
  data() {
    return {
      cardListContent: homePageCardContent
    }
  }
}
</script>
<style lang="scss" scoped>
.card_list_container {
  margin: 5rem auto;
}
</style>
