<template
  ><div>
    <ProductList />
  </div>
</template>

<script>
import ProductList from '../../components/Products/ProductList'
import { initStore } from '../../helpers/initStore'
export default {
  name: 'Products',
  layout: 'ListProducts',
  components: { ProductList },
  async asyncData({ store }) {
    await initStore(store)
  }
}
</script>

<style scoped></style>
